.App {
	margin: 0 auto;
	-webkit-print-color-adjust: exact;

	min-height: 100vh;

	&--left-collapsed {
		.App__col:first-child, .DoubleCollapseToggle__toggle--right {
			display: none;
		}
	}

	&--right-collapsed {
		.App__col:last-child, .DoubleCollapseToggle__toggle--left {
			display: none;
		}

		.App__col:first-child {
			max-width: none;
		}

		.App__main {
			justify-content: space-between;
		}
	}

	&__main {
		display: flex;

		width: 100%;

		@media (max-width: 768px) {
			align-items: flex-start;
			flex-direction: column;
		}

		@media print {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__col {
		box-sizing: border-box;
		padding: 0 15px 15px;

		position: relative;

		&:first-child {
			padding-right: 8px;

			@media (min-width: 769px) {
				max-width: 50%;
			}

			@media print {
				max-width: none !important;
			}

			// this fixes the grid overflow problem, but you can't scroll AND draw without scrolling 🤔
			// @media (max-width: 768px) {
			// 	max-width: 100vw;
			// 	overflow-x: scroll;
			// }
		}

		&:last-child {
			flex-grow: 1;
			padding-left: 8px;
		}
	}

	// get rid of outline from HotKey component focusing
	& > div:focus {
		outline: none;
	}

	@media print {
		.react-tabs__tab-list {
			display: none;
		}

		// force pattern tab to show
		.react-tabs__tab-panel {
			&:first-of-type {
				display: block;
			}

			&:last-of-type {
				display: none;
			}
		}
	}
}