.App {
	margin: 0 auto;

	min-height: 100vh;

	&__main {
		display: flex;

		width: 100%;

		@media (max-width: 768px) {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__col {
		box-sizing: border-box;
		padding: 0 15px 15px;

		position: relative;

		&:first-child {
			@media (min-width: 769px) {
				max-width: 50%;
			}

			// this fixes the grid overflow problem, but you can't scroll AND draw without scrolling 🤔
			// @media (max-width: 768px) {
			// 	max-width: 100vw;
			// 	overflow-x: scroll;
			// }
		}

		&:last-child {
			flex-grow: 1;
		}
	}

	// get rid of outline from HotKey component focusing
	& > div:focus {
		outline: none;
	}
}