.DrawingGridSquare {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	cursor: var(--tool-cursor) var(--tool-cursor-x) var(--tool-cursor-y), default;
	display: flex;
	justify-content: center;
	user-select: none;

	min-width: var(--square-size);
	min-height: var(--square-size);

	&:not(:last-child) {
		border-right: 1px solid rgba(0, 0, 0, 0.4);
	}

	// squares you've drawn in
	&--filled {
		background-color: var(--fg-color);
	}

	// dark overlay when detailed view is turned on
	&--valid:not(&--filled) {
		position: relative;

		&:after {
			content: "";
			background-color: rgba(0, 0, 0, 0.1);

			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}
	}

	// dot or line when detailed view is turned on
	span {
		color: rgba(0, 0, 0, 0.2);
	}
}