.DrawingGrid {
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;

	&__row {
		display: flex;
	}

	&--no-grid {
		border: 1px solid #e4e4e4;

		.DrawingGridSquare {
			border: none;
		}
	}
}