.DrawingGridSquare {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	cursor: var(--tool-cursor) var(--tool-cursor-x) var(--tool-cursor-y), default;
	display: flex;
	justify-content: center;
	touch-action: none;
	user-select: none;

	position: relative;

	min-width: var(--square-size);
	min-height: var(--square-size);
	max-width: var(--square-size);
	max-height: var(--square-size);

	&:not(:last-child) {
		border-right: 1px solid rgba(0, 0, 0, 0.4);
	}

	// squares you've drawn in
	&--filled {
		background-color: var(--fg-color);
	}

	// dark overlay when detailed view is turned on
	&--valid:not(&--filled) {
		&:after {
			content: "";
			background-color: rgba(0, 0, 0, 0.1);

			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}
	}

	&__vert-line {
		background-color: rgba(0, 0, 0, 0.2);

		position: absolute;
		top: 2px;
		left: calc(50% - 1px);

		height: calc(100% - 4px);
		width: 2px;
	}

	&__horiz-line {
		background-color: rgba(0, 0, 0, 0.2);

		position: absolute;
		top: calc(50% - 1px);
		left: 2px;

		height: 2px;
		width: calc(100% - 4px);
	}

	svg {
		fill: rgba(0, 0, 0, 0.2);

		height: 50%;
		width: 50%;
	}
}