.DrawingGrid {
	background-color: var(--bg-color);
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: none;
	display: flex;
	flex-direction: column;
	overflow-x: auto;

	position: relative;

	&__row {
		display: flex;
	}

	&--no-grid {
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);

		.DrawingGridSquare {
			border: none !important;
		}
	}

	&__line-cap {
		// // for debugging only
		// background-color: pink;
		// border-radius: 10px;
		// height: 10px;
		// width: 10px;
		// z-index: 2;

		position: absolute;
	}
}