.Modal {
	z-index: 10;

	position: fixed;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	&__overlay {
		background-color: rgba(0, 0, 0, 0.2);

		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
	}

	&__inner {
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		padding: 20px 40px;
		text-align: center;

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		width: 480px;

		@media (max-width: 768px) {
			left: 15px;
			transform: translateY(-50%);

			width: calc(100% - 30px);
		}
	}

	&__close {
		cursor: pointer;
		font-size: 30px;

		position: absolute;
		top: 5px;
		right: 15px;
	}

	&__footer {
		font-size: 12px;
		margin-top: 30px;
	}

	input {
		width: 100%;
	}
}