.SettingsField {
	align-items: flex-start;
	display: flex;
	flex-basis: 75px;
	flex-direction: column;
	font-size: 12px;

	&:not(:last-child) {
		margin-right: 10px;
	}

	input {
		margin: 4px 0 0;

		&[type='number'] {
			width: 50px;
		}

		&[type='checkbox'] {
			margin-left: 1px;
		}
	}

	&__error {
		color: #d83f3f;
		margin-top: 4px;
	}
}

