.SettingsForm {
	display: flex;
	flex-direction: column;

	&__row {
		display: flex;
	}

	label {
		display: flex;
		flex-direction: column;
		font-size: 12px;
	}

	input {
		border: 1px solid black;
		margin-top: 4px;
		padding: 5px;

		width: 50px;
	}
}