.SettingsForm {
	display: flex;
	flex-direction: column;

	&__row {
		align-items: center;
		display: flex;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	button {
		padding: 5px 8px;

		&[type='submit'] {
			margin-top: 20px;
			padding: 5px 40px;
		}

		@media (max-width: 768px) {
			border: 1px solid black;
			border-radius: 2px;
			-webkit-appearance: none;
		}
	}
}