.ToolbarButton {
	align-items: center;
	border: 1px solid black;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	user-select: none;

	width: 32px;
	height: 32px;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&[disabled] {
		opacity: 0.5;
	}

	&--active {
		background-color: lightgray;
	}

	img {
		width: 75%;
		height: auto;
	}
}